<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/jdbc
        https://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
    http://www.springframework.org/schema/task https://www.springframework.org/schema/task/spring-task-4.0.xsd
    http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="com.pivotal.gfxd.demo.mapreduce"/>

</beans>
